li{
    display: inline-block;
    margin-right:20px
}
#first{
    min-height: 200px;
}
#first p{
    max-width: 200px;
    font-size: 28px;
    margin-left: 20%;
}
#services section{
    display: inline-block;
    max-width: 300px;
    margin-right: 50px;
}
form{
    margin:15px;
}

#tenantsSec {
    display: inline-flex;
}
#myApartments{
    margin-right: 90px;
}
#apartmentSection{
    display:inline-flex
}
label{
    margin-right: 30px;
}
label span{
    font-size: 20px;
}
#designMe{
    background-image: url("./images/TENANTS\ PAGE\ 3.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 10px;
}
#subsection{
background-image: url("./images/TENANTS\ PAGE\ 3.png");
 background-repeat: no-repeat;
 background-size: cover;
 padding-left: 10px;;
}
h5{
    font-size: large;
    margin-bottom: 1.5px;
}
.registration{
    margin-top: 5px;
    display: inline-flex;
}
