ul#myHeader li{
    display: inline;
    /* width: 90; */
}
li{
    margin-left: 8%;
    
}
li:hover{
    background-color: rgba(0, 51, 255, 0.622);
}
header{
    display: inline;
}

header p{
    display: inline-flex;
}
