 .loginDiv{
    margin-top: 20%;
    margin-left: 50%;
    margin-right: flex;
    margin-bottom: 20%;
    background-image:linear-gradient(to right,rgb(1, 132, 255),rgba(4, 4, 255, 0.615)); 
    
    width: 400px;
    padding: 5%;
}
body{
    display: inline-flex;
    width: 70%;
    background-image: url("./images/property.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
a{
    color: black;
}
